* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  align-items: center;
  height: 8vh;
  background-color: #987b71;
}
.search {
  display: flex;
  flex: 1;
  gap: 10px;
}
input::placeholder {
  padding: 10px;
}
h1 {
  padding: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
input {
  flex: 4;
  font-size: 0.9rem;
}
button {
  flex: 1;
  font-size: 0.9rem;
}
nav {
  flex: 1;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
li {
  list-style: none;
  padding: 5px;
  width: 100%;
  text-align: center;
}
.navlist {
  color: white;
  font-weight: bold;
  transition: font-size 0.6s linear;
}
.navlist:hover {
  font-size: 2rem;
}
a {
  text-decoration: none;
}

main {
  background-color: #fce6e6;
  padding: 10px 5%;
  height: 87vh;
}
section {
  display: flex;
  justify-content: space-between;
}

.selection {
  display: flex;
  gap: 10px;
}
.option {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.item {
  width: 20%;
  text-align: center;
}
img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
footer {
  height: 5vh;
  background-color: #987b71;
  text-align: center;
}
.emoji {
  font-size: 1.6rem;
}
